<div class="mx-auto px-6 md:px-12 flex flex-col md:flex-row items-center justify-center gap-8 relative z-10 ">

  <!-- Dots (Top Right) -->
  <div class="absolute top-6 right-6">
    <svg width="120" height="120" fill="none" viewBox="0 0 120 120">
      <defs>
        <pattern id="hero-dots" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
          <circle cx="2" cy="2" r="2" class="fill-gray-300 dark:fill-gray-700"/>
        </pattern>
      </defs>
      <rect width="90" height="90" fill="url(#hero-dots)" />
    </svg>
  </div>
    <!-- Left: Photo -->
    <div class="md:w-2/5 flex justify-center md:justify-start">
      <img
        src="asset/about.webp"
        alt="About Us"
        class=" mx-auto w-full rounded-lg  object-cover"
      />
    </div>

    <!-- Right: Content -->
    <div class="md:w-3/5 flex flex-col justify-center text-center items-center md:items-start md:text-start gap-4">
      <h2 class="text-md font-bold text-[#9233FA]">
        About the company
      </h2>
      <p class="text-gray-700 text md:text-md md:max-w-[60%] dark:text-gray-300 leading-relaxed">
        We are a real estate company that manages all the properties on our platform, offering students secure accommodations and the perfect roommate match. No middlemen, no surprises—just trusted service from start to finish.
      </p>
    </div>
