
@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}
.animate-loading-bar {
  animation: loading-bar 1.5s infinite;
}
@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(300%); }
}
.animate-slide {
  animation: slide 1.2s linear infinite;
}
.animate-slide-delay {
  animation: slide 1.2s linear infinite 0.4s;
}
